{% extends 'base.html.twig' %}

{% block title %}
    Hello WeatherController!
{% endblock %}

{% block body %}
    <h1 class="site-heading text-center text-white d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">l'application qui a chaud</span>
        <span class="site-heading-lower">METEO API</span>
    </h1>

    {{ include('includes/navigation.html.twig') }}

    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 mx-auto">
                    <div class="cta-inner rounded">
                        {{ form_start(form, {'attr': {'class': 'form-inline'} }) }}
                        <div class="form-group">
                            {{ form_widget(form.city_field) }}
                        </div>
                        <div class="form-group ml-2 mb-2">
                            <button type="submit" class="btn btn-primary">rechercher</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="col-xl-10 mx-auto">
                    <div class="cta-inner text-center rounded">
                        {% if weather is not empty %}
                        <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                            <li class="list-unstyled-item list-hours-item d-flex">
                                Ville <span class="ml-auto">{{ weather.name }} - {{ weather.sys.country }}</span>
                            </li>
                            <li class="list-unstyled-item list-hours-item d-flex">
                                Temps <span class="ml-auto"><img src="http://openweathermap.org/img/w/{{ weather.weather[0].icon }}.png" alt="{{ weather.weather[0].description |capitalize }}"/> {{ weather.weather[0].description |capitalize }}</span>
                            </li>
                            <li class="list-unstyled-item list-hours-item d-flex">
                                Température <span class="ml-auto">{{ weather.main.temp }} °C</span>
                            </li>
                            <li class="list-unstyled-item list-hours-item d-flex">
                                Température ressentie<span class="ml-auto">{{ weather.main.feels_like }} °C</span>
                            </li>
                            <li class="list-unstyled-item list-hours-item d-flex">
                                Température minimale<span class="ml-auto">{{ weather.main.temp_min }} °C</span>
                            </li>
                            <li class="list-unstyled-item list-hours-item d-flex">
                                Température maximale<span class="ml-auto">{{ weather.main.temp_max }} °C</span>
                            </li>
                            <li class="list-unstyled-item list-hours-item d-flex">
                                Vent <span class="ml-auto">{{ weather.wind.speed }} km/h</span>
                            </li>
                            <li class="list-unstyled-item list-hours-item d-flex">
                                Humidité <span class="ml-auto">{{ weather.main.humidity }} %</span>
                            </li>
                            <li class="list-unstyled-item list-hours-item d-flex">
                                Pression <span class="ml-auto">{{ weather.main.pressure }} hpa</span>
                            </li>
                        </ul>
                        {% else %}
                            <pre>Recherche non conforme</pre>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0 small">Copyright &copy; Meteo API 2020</p>
        </div>
    </footer>
{% endblock %}
